<head>
    <link rel="stylesheet" href="/assets/css/garage_info.css">
</head>
<main>
    <div class="container">
        {{#garage}}
        <h2 class="garage-name">Nhà xe {{garageinfo.tennhaxe}}</h2>
        <!-- introduction about the garage -->
        <div id="introduction" class="part">
            <h4 class="title">Giới thiệu</h4>
            <p class="introduction-paragraph">
                {{garageinfo.doangioithieu}}
            </p>
            <div class="introduction-image">
                <img src="/assets/img/introduction_img_PhuongTrang.png" alt="Hình ảnh về nhà xe Phương Trang">
            </div>
        </div>
        <!-- Rating & comment about the garage -->
        <div id="review" class="part pb-1">
            <h4 class="title">Đánh giá</h4>
            <div class="rating d-flex">
                <i class="fa-solid fa-star not-chevron"></i>
                <h4 class="rate">{{garageinfo.sosaoTB}}/5</h4>
                <p class="number-of-ratings">(145 lượt đánh giá)</p>
            </div>

        </div>
        <div id="comment-slider" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {{#load_cmts cmts}}{{this}}{{/load_cmts}}
            </div>
            <div class="left carousel-prev-btn" type="button" data-bs-target="#comment-slider" data-bs-slide="prev">
                <div class='nav-btn prev-slide'><i class='fa fa-chevron-left'></i></div>
            </div>
            <div class="right carousel-next-btn" type="button" data-bs-target="#comment-slider" data-bs-slide="next">
                <div class='nav-btn next-slide'><i class='fa fa-chevron-right'></i></div>
            </div>
        </div>

        <div class="view-more position-absolute" onclick="openOverlay()">
            <span class="">Hiển thị thêm <i class="fa-solid fa-circle-chevron-right"></i></span>
        </div>

        <div id="overlay" onclick="closeOverlay()">
            <div class="overlay-block" onclick="blockCloseOverlay()">
                <div class="close-overlay" onclick="closeOverlay()">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="content-view-more">
                    <h4 id="top-overlay" class="title-overlay">Đánh giá</h4>
                    <div class="rating d-flex">
                        <i class="fa-solid fa-star not-chevron"></i>
                        <h4 class="rate">4.5/5</h4>
                        <p class="number-of-ratings">(145 lượt đánh giá)</p>
                    </div>
                    <div class="hehe">
                        {{#load_cmts_add cmts}}{{this}}{{/load_cmts_add}}
                    </div>
                    {{!-- <div class="add comments row d-flex justify-content-center">
                        <div class="comment-item col-md-6 mx-2 mb-4">
                            <div class="d-flex justify-content-between flex-wrap">
                                <div class="d-flex">
                                    <div class="user-avatar">
                                        <img src="/assets/img/user.png" alt="">
                                    </div>
                                    <div class="user-infor">
                                        <p class="date-post">
                                            04/11/2022
                                        </p>
                                        <p class="user-name">
                                            Nguyễn Văn Nguyễn Văn A
                                        </p>
                                    </div>
                                </div>
                                <div class="user-rate">
                                    <p class="type-bus">
                                        Loại xe: <span>Ghế ngồi</span>
                                    </p>
                                    <p class="star">
                                        Đánh giá:
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </p>
                                </div>
                            </div>
                            <div class="comment-text">
                                Chất lượng nhà xe rất tốt, tài xế nhiệt tình, xe sạch đẹp, đệm êm.
                            </div>
                        </div>

                        <div class="comment-item col-md-6 mx-2 mb-4">
                            <div class="d-flex justify-content-between flex-wrap">
                                <div class="d-flex">
                                    <div class="user-avatar">
                                        <img src="/assets/img/user.png" alt="">
                                    </div>
                                    <div class="user-infor">
                                        <p class="date-post">
                                            04/11/2022
                                        </p>
                                        <p class="user-name">
                                            Nguyễn Văn A
                                        </p>
                                    </div>
                                </div>
                                <div class="user-rate">
                                    <p class="type-bus">
                                        Loại xe: <span>Ghế ngồi</span>
                                    </p>
                                    <p class="star">
                                        Đánh giá:
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </p>
                                </div>
                            </div>
                            <div class="comment-text">
                                Chất lượng nhà xe rất tốt, tài xế nhiệt tình, xe sạch đẹp, đệm êm.
                            </div>
                        </div>

                        <div class="comment-item col-md-6 mx-2 mb-4">
                            <div class="d-flex justify-content-between flex-wrap">
                                <div class="d-flex">
                                    <div class="user-avatar">
                                        <img src="/assets/img/user.png" alt="">
                                    </div>
                                    <div class="user-infor">
                                        <p class="date-post">
                                            04/11/2022
                                        </p>
                                        <p class="user-name">
                                            Nguyễn Văn A
                                        </p>
                                    </div>
                                </div>
                                <div class="user-rate">
                                    <p class="type-bus">
                                        Loại xe: <span>Ghế ngồi</span>
                                    </p>
                                    <p class="star">
                                        Đánh giá:
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </p>
                                </div>
                            </div>
                            <div class="comment-text">
                                Chất lượng nhà xe rất tốt, tài xế nhiệt tình, xe sạch đẹp, đệm êm.
                            </div>
                        </div>

                        <div class="comment-item col-md-6 mx-2 mb-4">
                            <div class="d-flex justify-content-between flex-wrap">
                                <div class="d-flex">
                                    <div class="user-avatar">
                                        <img src="/assets/img/user.png" alt="">
                                    </div>
                                    <div class="user-infor">
                                        <p class="date-post">
                                            04/11/2022
                                        </p>
                                        <p class="user-name">
                                            Nguyễn Văn A
                                        </p>
                                    </div>
                                </div>
                                <div class="user-rate">
                                    <p class="type-bus">
                                        Loại xe: <span>Ghế ngồi</span>
                                    </p>
                                    <p class="star">
                                        Đánh giá:
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </p>
                                </div>
                            </div>
                            <div class="comment-text">
                                Chất lượng nhà xe rất tốt, tài xế nhiệt tình, xe sạch đẹp, đệm êm.
                            </div>
                        </div>
                    </div> --}}
                    <div id="viewMore" class="float_right" onclick="viewMore()">
                        <span class="">Xem thêm <i class="fa-solid fa-circle-chevron-down"></i></span>
                    </div>
                    <div id="viewLess" class="float_right" onclick="viewLess()">
                        <a href="#top-overlay" class='default-a'><span>Rút gọn <i
                                    class="fa-solid fa-circle-chevron-up"></i></span></a>

                    </div>
                </div>
            </div>
        </div>
        <!-- Contact of the garage -->
        <div id="contact" class="part">
            <h4 class="title">Thông tin liên hệ</h4>
            <div class="d-flex">
                <i class="fa-solid fa-phone not-chevron"></i>
                <p>Số điện thoại:<span> {{garageinfo.sdt}}</span></p>
            </div>
            <div class="d-flex">
                <i class="fa-solid fa-location-dot not-chevron"></i>
                <p>Địa chỉ:<span> {{garageinfo.diachi}}</span></p>
            </div>
            <div class="d-flex">
                <i class="fa-solid fa-envelope not-chevron"></i>
                <p>Email:<span> {{garageinfo.email}}</span></p>
            </div>
            <div class="d-flex">
                <i class="fa-solid fa-laptop not-chevron"></i>
                <p>Website:<span> {{garageinfo.website}}</span></p>
            </div>
        </div>
        {{/garage}}




    </div>
    <script type="text/javascript">
        var checkitem = function () {
            var $this;
            $this = $("#comment-slider");
            if ($("#comment-slider .carousel-inner .carousel-item:first").hasClass("active")) {
                $this.children(".left").css("display", "none");;
                $this.children(".right").css("display", "");;
            } else if ($("#comment-slider .carousel-inner .carousel-item:last").hasClass("active")) {
                $this.children(".right").css("display", "none");;
                $this.children(".left").css("display", "");;
            } else {
                $this.children(".carousel-prev-btn").css("display", "");;
                $this.children(".carousel-next-btn").css("display", "");;
            }
        };

        checkitem();

        $("#comment-slider").on("slid.bs.carousel", "", checkitem);
    </script>
    <script>
        const myCarouselElement = document.querySelector('#comment-slider')
        const carousel = new bootstrap.Carousel(myCarouselElement, {
            wrap: false,
            ride: false
        })
    </script>

    <script>
        function blockCloseOverlay() {
            event.stopPropagation();
        }
        function openOverlay() {
            document.getElementById("overlay").style.display = "block";
        }
        function closeOverlay() {
            document.getElementById("overlay").style.display = "none";
        }
        function viewMore() {
            document.getElementById("viewLess").style.display = "block";
            addOneElement();
            addOneElement();
            addOneElement();
            addOneElement();
        }
        function addOneElement() {
            var content_block = document.querySelector(".add");

            const new_comment = document.createElement('div')
            new_comment.className = 'comment-item col-md-6 mx-2 mb-4'
            new_comment.innerHTML = '<div class="d-flex justify-content-between flex-wrap"><div class="d-flex"><div class="user-avatar"><img src="/assets/img/user.png" alt=""></div><div class="user-infor"><p class="date-post">04/11/2022</p><p class="user-name">Nguyễn Văn A</p></div></div><div class="user-rate"><p class="type-bus">Loại xe: <span>Ghế ngồi</span></p><p class="star">Đánh giá:<i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p></div></div><div class="comment-text">Chất lượng nhà xe rất tốt, tài xế nhiệt tình, xe sạch đẹp, đệm êm.</div></div>';
            content_block.appendChild(new_comment)
            console.log(content_block)
        }
        function viewLess() {
            setTimeout(function () {
                document.getElementById("viewLess").style.display = "none";
                var content_block = document.querySelector(".hehe");
                content_block.textContent = "{{#load_cmts_add cmts}}{{this}}{{/load_cmts_add}}";
            }, 500);

        }
    </script>
</main>