<main>
     <form action="/edit_info/loadPage" id="tokenForm" name="tokenForm" method="post">
        <input id="accessToken" style="display: none" name="accessToken" value="">
        <input id="refreshToken" style="display: none" name="refreshToken" value="">
    </form>
    <!--Quản Lí Tài Khoản-->
    <div class="wrapper">
        <div class="header">Quản Lí Tài Khoản</div>
        <div class="container row">
            <div class="selection col-md-3 col-sm-12">
                <div class="list-group">
                    <a href="/account_info" class="list-group-item list-group-item-action">
                        <i class="fa-regular fa-circle-user"></i>Thông tin tài khoản
                    </a>
                    <a href="/edit_info" class="list-group-item list-group-item-action">
                        <i class="fa-solid fa-pen-to-square"></i>Chỉnh sửa thông tin</a>
                    <a href="/change_password" class="list-group-item list-group-item-action">
                        <i class="fa-solid fa-unlock"></i>Thay đổi mật khẩu</a>
                    <a href="/history" class="list-group-item list-group-item-action active" aria-current="true">
                        <i class="fa-solid fa-clock"></i>Lịch sử đặt vé</a>
                    <a href="/" class="list-group-item list-group-item-action" onclick="logout()">
                        <i class="fa-solid fa-right-from-bracket"></i>Đăng xuất</a>
                </div>
            </div>

            <div class="content col-md-9 col-sm-12">
                <section id="filter">
                    <div id="filter_button">
                        <a class="btn btn-primary active" data-filter="booked">Đã đặt</a>
                        <a class="btn btn-primary" data-filter="finished">Hoàn thành</a>
                        <a class="btn btn-primary" data-filter="cancelled">Đã hủy</a>
                    </div>
                    <div id="filter_data">

                        <!-- ---------------------Hiện tại--------------------->

                        <div class="element_type" data-item="booked">
                            <div class="infor">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="min-width:5%;">Mã vé</th>
                                            <th scope="col" style="min-width:15%;">Thời gian đặt vé</th>
                                            <th scope="col" style="min-width:15%;">Thời gian xuất phát</th>
                                            <th scope="col" style="min-width:25%;">Địa điểm xuất phát</th>
                                            <th scope="col" style="min-width:25%;">Địa điểm đến</th>
                                            <th scope="col" style="min-width:15%;">Thanh toán</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {{#each booked}}
                                        <tr>
                                            <th scope="row">{{ID_Ve}}</th>
                                            <td>{{{formatDate LichSuDatVe.thoigiandat "hh:mm:ss DD/MM/YYYY"}}}</td>
                                            <td>{{{formatDate ChuyenXe.gioKhoiHanh "hh:mm:ss DD/MM/YYYY"}}}</td>
                                            <td>{{ChuyenXe.tpDi}}</td>
                                            <td>{{ChuyenXe.tpDen}}</td>
                                            <td>{{LichSuDatVe.trangthaive}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                    
                                </table>
                            </div>
                        </div>

                        <!-- ---------------------Đã đặt--------------------->

                        <div class="element_type" data-item="finished">
                            <div class="infor">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="min-width:5%;">Mã vé</th>
                                            <th scope="col" style="min-width:15%;">Thời gian đặt vé</th>
                                            <th scope="col" style="min-width:15%;">Thời gian xuất phát</th>
                                            <th scope="col" style="min-width:25%;">Địa điểm xuất phát</th>
                                            <th scope="col" style="min-width:25%;">Địa điểm đến</th>
                                            <th scope="col" style="min-width:15%;">Thanh toán</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {{#each finished}}
                                        <tr>
                                            <th scope="row">{{ID_Ve}}</th>
                                            <td>{{{formatDate LichSuDatVe.thoigiandat "hh:mm:ss DD/MM/YYYY"}}}</td>
                                            <td>{{{formatDate ChuyenXe.gioKhoiHanh "hh:mm:ss DD/MM/YYYY"}}}</td>
                                            <td>{{ChuyenXe.tpDi}}</td>
                                            <td>{{ChuyenXe.tpDen}}</td>
                                            <td>{{LichSuDatVe.trangthaive}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                    
                                </table>
                            </div>
                        </div>

                        <!-- ---------------------Đã hủy --------------------->

                        <div class="element_type" data-item="cancelled">
                            <div class="infor">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="min-width:5%;">Mã vé</th>
                                            <th scope="col" style="min-width:15%;">Thời gian đặt vé</th>
                                            <th scope="col" style="min-width:15%;">Thời gian xuất phát</th>
                                            <th scope="col" style="min-width:25%;">Địa điểm xuất phát</th>
                                            <th scope="col" style="min-width:25%;">Địa điểm đến</th>
                                            <th scope="col" style="min-width:15%;">Thanh toán</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each cancelled}}
                                        <tr>
                                            <th scope="row">{{ID_Ve}}</th>
                                            <td>{{{formatDate LichSuDatVe.thoigiandat "hh:mm:ss DD/MM/YYYY"}}}</td>
                                            <td>{{{formatDate ChuyenXe.gioKhoiHanh "hh:mm:ss DD/MM/YYYY"}}}</td>
                                            <td>{{ChuyenXe.tpDi}}</td>
                                            <td>{{ChuyenXe.tpDen}}</td>
                                            <td>{{LichSuDatVe.trangthaive}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </section>
            </div>
        </div>
    </div>

    <script src="/assets/js/LichSuDatVe.js"></script>
</main>
<script>
    function logout() {
        localStorage.removeItem("accessToken");
        localStorage.removeItem("refreshToken");
        window.location.reload();
    }
</script>