<main>
  <!-- Find Ticket -->
  <div id="findTicket" class="">
    <div class="container-fluid d-flex justify-content-center align-items-center">
      <div id="contentFindTicket" class="w-100">
        <!-- First Row -->
        <div class="row d-flex justify-content-center">
          <div id="typeVehicle" class="col-6 col-md-2 py-2 px-2 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-bus-simple fs-5"></i>
            <p class="fs-6 fw-bold ms-3">Xe Khách</p>
          </div>
          <!-- Padding Grid Column -->
          <div class="col-6 col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-1"></div>
        </div>
        <!-- Second Row -->
        <form action="/listoftrip" class="row mb-3 d-flex justify-content-center" id="inputTicket">
          <!-- Start Des Col -->
          <div class="col-6 col-md-2 dropdown">
            <div id="startDes" class="d-flex flex-row px-3">
              <label for="startDes-input" class="d-flex align-items-center">
                <i class="fa-solid fa-location-dot fa-lg d-flex align-items-center"></i>
              </label>
              <input type="text" name="StartDestination" id="startDes-input" class="form-control lh-lg"
                placeholder="Điểm khởi hành" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <ul class="dropdown-menu w-75 mx-3 text-center overflow-auto">
                <h6 class="dropdown-header fw-bold">Tỉnh - Thành phố</h6>
                <div class="dropdown-divider"></div>
                {{#each diemBatDau}}
                <li class="dropdown-item" onclick="loadDropdown(this)">{{tpDi}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
          <!-- End Des Col -->
          <div class="col-6 col-md-2 dropdown">
            <div id="endDes" class="d-flex flex-row px-3">
              <label for="endDes-input" class="d-flex align-items-center">
                <i class="fa-solid fa-location-dot fa-lg d-flex align-items-center"></i>
              </label>
              <input type="text" name="EndDestination" id="endDes-input" class="form-control lh-lg"
                placeholder="Điểm đến" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <ul class="dropdown-menu w-75 mx-3 text-center overflow-auto">
                <h6 class="dropdown-header fw-bold">Tỉnh - Thành phố</h6>
                <div class="dropdown-divider"></div>
                {{#each diemKetThuc}}
                <li class="dropdown-item" onclick="loadDropdown(this)">{{tpDen}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
          <!-- Start Date Col -->
          <div class="col-12 col-md-2">
            <div id="startDate" class="d-flex flex-row px-3">
              <!-- <input id="startDate-input" class="form-control lh-lg" type="date"/> -->
              <div class="input-group date" id="datepicker">
                <label for="startDate-input" class="d-flex align-items-center">
                  <i class="fa-solid fa-calendar-days fa-lg d-flex align-items-center"></i>
                </label>
                <input type="text" class="form-control lh-lg" name="startDate" id="startDate-input"
                  placeholder="dd/mm/yyyy">
              </div>
            </div>
          </div>
          <button type="submit" class="col-6 col-md-1 btn btn-primary d-flex justify-content-center align-items-center">Tìm Vé</a>
        </form>
      </div>
    </div>
  </div>
  <!-- Content -->
  <div class="container">
    <!--Cac thành phố nổi bật-->
    <div class="city-container">
      <h4 class="title">Các thành phố lớn</h4>
      <p class="sub-title">Khám phá các thành phố lớn của Việt Nam</p>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div id="city-slider" class="owl-carousel">
            <!-- 1 -->
            <div class="city-item">
              <a href="/listoftrip?EndDestination=TP.+Hồ+Chí+Minh">
                <div class="city-item-image">
                  <img src="./assets/img/HCM.png" alt="">
                </div>
                <div class="city-name">Thành phố Hồ Chí Minh</div>
              </a>
            </div>
            <!-- 2 -->
            <div class="city-item">
              <a href="/listoftrip?EndDestination=Hà+Nội">
                <div class="city-item-image">
                  <img src="./assets/img/HN.png" alt="">
                </div>
                <div class="city-name">Hà Nội</div>
              </a>
            </div>
            <!-- 3 -->
            <div class="city-item">
              <a href="/listoftrip?EndDestination=Đà+Nẵng">
                <div class="city-item-image">
                  <img src="./assets/img/DN.png" alt="">
                </div>
                <div class="city-name">Đà Nẵng</div>
              </a>
            </div>
            <!-- 4 -->
            <div class="city-item">
              <a href="/listoftrip?EndDestination=Đà+Lạt">
                <div class="city-item-image">
                  <img src="./assets/img/DL.png" alt="">
                </div>
                <div class="city-name">Đà Lạt</div>
              </a>
            </div>
            <!-- 5 -->
            <div class="city-item">
              <a href="/listoftrip?EndDestination=Nha+Trang">
                <div class="city-item-image">
                  <img src="./assets/img/NT.png" alt="">
                </div>
                <div class="city-name">Nha Trang</div>
              </a>
            </div>
            <!-- 6 -->
            <div class="city-item">
              <a href="/listoftrip?EndDestination=Cần+Thơ">
                <div class="city-item-image">
                  <img src="./assets/img/CT.png" alt="">
                </div>
                <div class="city-name">Cần Thơ</div>
              </a>
            </div>
            <!-- 7 -->
            <div class="city-item">
              <a href="/listoftrip?EndDestination=Bến+Tre">
                <div class="city-item-image">
                  <img src="./assets/img/BT.png" alt="">
                </div>
                <div class="city-name">Bến Tre</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Các nhà xe nổi bật -->
    <div class="garage-container">
      <h4 class="title">Danh sách nhà xe</h4>
      <p class="sub-title">Các nhà xe nổi bật</p>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div id="garage-slider" class="owl-carousel">
            <!-- 1 -->
            {{#each garage}}
            <div class="garage-item">
              <a href="/garage_info/{{ID_NX}}">
                <div class="garage-item-image">
                  <img src="{{imagepath}}" alt="">
                </div>
                <div class="garage-name">Nhà xe {{tennhaxe}}</div>
              </a>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <!-- Các chuyến xe nổi bật -->
    <div class="trip-container">
      <h4 class="title">Danh sách chuyến xe</h4>
      <p class="sub-title">Các chuyến xe mới nhất</p>

      <div class="trips row">
        {{#each trip}}
        <a href="/trip_info/{{IDChuyenXe}}" class="trip col-md-6 me-0 me-md-4 mb-4">
          <img src="{{imagePath.[0]}}" alt="{{tpDi}} - {{tpDen}}"></img>
          <div class="name-trip">
            <div class="from text-center mb-3">{{tpDi}}</div>
            <i class="fa-sharp fa-solid fa-chevron-right"></i>
            <div class="to text-center mt-3">{{tpDen}}</div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</main>
<!-- Script -->
<script type="text/javascript">
  window.onload = function () {
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = dd + '/' + mm + '/' + yyyy;
    const dateSelect = document.getElementsByClassName("date")[0];
    dateSelect.getElementsByClassName("form-control")[0].value = today;
  }
  $(document).ready(function () {
    $('#startDate-input').datepicker({
      startDate: new Date(),
      format: "dd/mm/yyyy",
      container: "#datepicker",
      laguage: "en",
      maxViewMode: 2,
      todayHighlight: true,
      showOtherMonths: true,
      selectOtherMonths: true,
      autoclose: true,
      changeMonth: true,
      changeYear: true,
      orientation: "bottom left"
    });
    $("#city-slider").owlCarousel({
      loop: true,
      nav: true,
      navText: ["<div class='nav-btn prev-slide'><i class='fa fa-chevron-left'></i></div>",
        "<div class='nav-btn next-slide'><i class='fa fa-chevron-right'></i></div>"],
      autoplay: true,
      autoplayTimeout: 10000,
      autoplayHoverPause: true,
      smartSpeed: 1000,
      responsive: {
        0: {
          items: 1
        },
        400: {
          items: 2
        },
        800: {
          items: 3
        },
        1200: {
          items: 4
        }
      }
    });

    $("#garage-slider").owlCarousel({
      loop: true,
      nav: true,
      navText: ["<div class='nav-btn prev-slide'><i class='fa fa-chevron-left'></i></div>",
        "<div class='nav-btn next-slide'><i class='fa fa-chevron-right'></i></div>"],
      autoplay: true,
      autoplayTimeout: 10000,
      autoplayHoverPause: true,
      smartSpeed: 1000,
      responsive: {
        0: {
          items: 1
        },
        400: {
          items: 1
        },
        800: {
          items: 2
        },
        1200: {
          items: 3
        }
      }
    });
  });
</script>
<script>
    function loadDropdown(e) {
        e.parentElement.parentElement.children[1].value = e.innerText;
        console.log(e.innerText);
    }
</script>