<main>
  <!-- Multistep progress bar-->
  <div class="step-wizard">
    <ul class="step-wizard-list">
      <li class="step-wizard-item ">
        <span class="progress-count" id="beforeItem">Chuyến Xe</span>
      </li>
      <li class="step-wizard-item">
        <span class="progress-count" id="beforeItem">Chọn giờ</span>
      </li>
      <li class="step-wizard-item">
        <span class="progress-count" id="currentItem">Chọn chỗ</span>
      </li>
      <li class="step-wizard-item">
        <span class="progress-count" id="afterItem">Xác nhận</span>
      </li>
    </ul>
  </div>
  <!-- Box Tìm Vé-->
  <div class="dvx-box container d-flex justify-content-center flex-column">
    <!-- Chuyến xe element-->
    <div>
      <div class="row dvx-chuyenXeBox align-items-center" style="margin: 3rem 2rem;">
        <!-- info-->
        <div class="col-md-10 text-left">
          <div class="">
            <p class="m-0 p-0">{{{formatDate tripInfo.gioKhoiHanh "hh:mm - DD/MM/yyyy"}}}
              <i class="fa-solid fa-chevron-right"></i>
              {{{formatDate tripInfo.gioKetThuc "hh:mm - DD/MM/yyyy"}}}
            </p>
          </div>
          <div class="">
            {{{formatCurrency tripInfo.giaVe}}} | {{loaiXe}} | Còn <span class="seatsCount">{{totalSeat}}</span> chỗ
          </div>
          <div class="">
            {{tripInfo.tpDi}} -> {{tripInfo.tpDen}}
          </div>
          <div class="">
            Đã chọn <span class="selectedSeatsCount">0</span> chỗ
          </div>
        </div>
        <!--button-->
        <div class="col-md-2 text-center ">
          <a name="" id="submitBTN" class="btn btn-dvx"
            href="/confirm_ticket?tripID={{IDChuyenXe}}&typeSeat={{loaiXe}}&soGheTrong=!&soGheChon=!&gheChon=!"
            role="button"> Đặt vé</a>
        </div>
        <!--seat-->
        {{{seatTypeMap}}}
        <!--end of seat-->
        <!--showcase-->
        <ul class="showcase ">
          <li id="showcaseElement">
            <div class="seatNormal"></div>
            <div>Còn chỗ</div>
          </li>
          <li id="showcaseElement">
            <div class="seatSelected"></div>
            <div>Đang chọn</div>
          </li>
          <li id="showcaseElement">
            <div class="seatSold"></div>
            <div>Đã đặt</div>
          </li>
        </ul>
      </div>


    </div>
  </div>


  {{#each seats}}
  <span id="seatInfo" style="display: none">
    <span class="seatsID">{{viTriGhe}}</span>
    <span class="seatsStatus">{{trangThaiGhe}}</span>
  </span>

  {{/each}}
  <div id="chosenSeat">
  </div>
</main>





<script>
  console.log(0);
  //var soGheTrong = {{ totalSeat }};
  const seatsUI = document.getElementsByClassName("seat");
  const seatsIDList = document.getElementsByClassName("seatsID");
  const seatStatusList = document.getElementsByClassName("seatsStatus");

  for (var i = 0; i < seatsUI.length; i++) {
    //console.log(i);
    var curElement = seatsUI.item(i);
    //console.log(curElement);
    var curSeatsId = seatsIDList.item(i);
    var curStatus = seatStatusList.item(i);

    if (curStatus.innerHTML == "true") {
      //soGheTrong = soGheTrong - 1;
      curElement.classList.add("sold");
    }
    var newID = curSeatsId.innerHTML;
    curElement.innerHTML = curElement.innerHTML.replace(curElement.innerHTML, newID);
  }
</script>

<script src="/assets/js/dvxScript.js"></script>

<script>
  const button = document.getElementById("submitBTN");

  button.addEventListener("click", (e) => {
    //e.preventDefault();
    const seatValue = document.getElementsByClassName("seatsCount");
    const selectedSeatValue = document.getElementsByClassName("selectedSeatsCount");
    
    const selectedSeatList = document.getElementsByClassName("selected");
    const SeatContainer = document.getElementById("chosenSeat");

    for(var i = 0; i < selectedSeatList.length; i++){
      SeatContainer.innerText = SeatContainer.innerText.replace(SeatContainer.innerText, SeatContainer.innerText+"-"+selectedSeatList[i].innerText);
    }

    var hreflink = button.getAttribute('href');
    var newHref = hreflink.replace("!", seatValue[0].innerText);
    newHref = newHref.replace("!", selectedSeatValue[0].innerText);

    
    newHref = newHref.replace("!", SeatContainer.innerText);

    button.setAttribute('href', newHref);
    return False;

  });
</script>