<main>
    <div class="container">
        {{#trip}}
        <h2 class="trip-name">
            {{tpDi}} <i class="fa-solid fa-chevron-right"></i><i class="fa-solid fa-chevron-right"></i> {{tpDen}}
        </h2>
        <ul class="content">
            <li class="info">
                <span>Nhà xe:</span>
                <a href="/garage_info/{{NhaXe.ID_NX}}" class="garage-name">{{NhaXe.tennhaxe}}</a>
            </li>
            <div class="d-flex justify-content-between">
                <li class="info station">
                    <p>Điểm đón khách:</p>
                    <ul class="sub-list">
                        {{#each diemDon}}
                        <li class="sub">{{this}}</li>
                        {{/each}}
                    </ul>
                </li>
                <li class="info station">
                    <p>Điểm trả khách:</p>
                    <ul class="sub-list">
                        {{#each diemTra}}
                        <li class="sub">{{this}}</li>
                        {{/each}}
                    </ul>
                </li>
            </div>
            <li class="info">
                <span>Ngày:</span>
                <span>{{{formatDate gioKhoiHanh "DD/MM/YYYY"}}}</span>
            </li>
            <li class="info">
                <span>Thời gian xuất phát:</span>
                <span>{{{formatDate gioKhoiHanh "HH:mm - DD/MM/YYYY"}}}<span class="sub">({{diemDon.[0]}})</span></span>
            </li>
            <li class="info">
                <span>Thời gian đến nơi:</span>
                <span>{{{formatDate gioKetThuc "HH:mm - DD/MM/YYYY"}}}<span class="sub">({{diemTra.[0]}})</span></span>
            </li>

            <li class="info">
                <span>Loại xe:</span>
                <span>{{loaiXe}}</span>
                <div class="owl-carousel owl-theme">
                    {{#each imagePath}}
                    <div class="item">
                        <img src="{{this}}" alt="" onclick="onClick(this)">
                    </div>
                    {{/each}}
                </div>
            </li>
            <div id="show-modal" class="modal" onclick="this.style.display='none'">
                <div class="close-modal-btn"><i class="fa-solid fa-xmark"></i></div>
                <div class="zoom-img">
                    <img id="show-img" style="width:100%">
                </div>
            </div>
            <li class="info">
                <span>Tiện ích:</span>
                <ul class="utility sub-list">
                    {{#each tienIch}}
                    <li>
                        {{{this}}}
                    </li>
                    {{/each}}
                </ul>
            </li>
            <li class="info">
                <span>Chính sách</span>
                <ul class="sub-list">
                    {{#each moTaChinhSach}}
                    <li>
                        <span>
                            {{this}}
                        </span>
                    </li>
                    {{/each}}
                </ul>
            </li>
            <li class="info">
                <span>Giá vé:</span>
                <span class="primary-info"> {{{formatCurrency giaVe}}}</span>
            </li>
            <li class="info last-info">
                <span>Số lượng ghế:</span>
                <span class="primary-info">{{soGheTrong}}/{{tongSoGhe}}</span>
            </li>

            <a href="/seat_ticket?tripID={{IDChuyenXe}}&typeSeat={{loaiXe}}" class="btn btn-primary book-btn" tabindex="-1" role="button"
                aria-disabled="true">Đặt vé</a>
        </ul>
        {{/trip}}
    </div>
    <script>
        window.onload = function () {
            document.getElementsByClassName("owl-carousel")[0].children[0].classList.add("active");
            document.getElementsByClassName("owl-carousel")[0].children[1].classList.add("active");
        }
        function onClick(element) {
            document.getElementById("show-img").src = element.src;
            document.getElementById("show-modal").style.display = "block";
        }
    </script>
    <script type="text/javascript">
        $('.owl-carousel').owlCarousel({
            nav: true,
            navText: ["<div class='nav-btn prev-slide'><i class='fa fa-chevron-left'></i></div>",
                "<div class='nav-btn next-slide'><i class='fa fa-chevron-right'></i></div>"],
            smartSpeed: 1000,
            dots: false,
            responsive: {
                0: {
                    items: 1
                },
                900: {
                    items: 2
                }
            }
        });
    </script>
</main>